services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./db:/data/db
    networks:
      - app-network

  broker:
    image: masstransit/rabbitmq:latest
    hostname: broker
    container_name: broker
    ports:
      - 15672:15672
      - 5672:5672
    networks:
      - app-network

  jaeger:
    image: jaegertracing/jaeger:2.4.0
    hostname: jaeger
    container_name: jaeger
    ports:
      - "6831:6831/udp"
      - "16686:16686"
      - "4317:4317"
      - "14250:14250"
    networks:
      - app-network

  apigateway:
    build:
      context: .
      dockerfile: APIGateway/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      - broker
      - mongodb
      - jaeger

  persister:
    build:
      context: .
      dockerfile: Persister/Dockerfile
    networks:
      - app-network
    depends_on:
      - broker
      - mongodb
      - jaeger

  search:
    build:
      context: .
      dockerfile: Search/Dockerfile
    networks:
      - app-network
    depends_on:
      - mongodb
      - jaeger

  generator:
    build:
      context: .
      dockerfile: Generator/Dockerfile
    networks:
      - app-network
    depends_on:
      - broker
      - azurite
      - jaeger

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    ports:
      - "10000:10000" # Blob service port
    command: "azurite-blob --blobHost 0.0.0.0 --loose" # Run blob service only, relaxed parsing
    networks:
      - app-network

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    networks:
      - app-network
    depends_on:
      - apigateway

networks:
  app-network:
    driver: bridge
